* {
  margin: 0px;
  box-sizing: border-box;
}

.awesome {
  width: 100%;
  background-color: #000000;
  font-family: "Raleway", sans-serif;
}
.wrapper2 {
  width: 90%;
  background-color: #000000;
  padding-top: 18px;
  padding-bottom: 23px;
}
.image {
  width: 79px;
  height: 26px;
  background-image: url(images/Logo.png);
  background-position: center;
  float: left;
  margin: 0px 500px 0px 143px;
}
.menu {
  color: #ffffff;
  display: inline-block;
  margin: 0px 12px;
  text-align: center;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
/* стили для меню */
.allelements {
  margin: 102px auto;
  text-align: center;
}
.header {
  margin-bottom: 66px;
}
.title {
  font-style: normal;
  font-size: 36px;
  font-weight: normal;
  line-height: 43px;
  font-family: "Raleway", sans-serif;
  color: #212121;
}
.line {
  width: 102px;
  height: 2px;
  margin: 22px auto;

  background-color: #ff8b38;
}
.text {
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  font-family: "Raleway", sans-serif;
  color: #868788;
}
.wrapper {
  width: 89%;
  margin: 0px auto 28%;
}
/* применить calc c width % */
.card {
  width: 349px;
  float: left;
}
.card_image_lamp {
  width: 70px;
  height: 70px;
  margin: 0px auto 27px;

  border: 2px solid #ff8b38;
  border-radius: 100px;
  background-image: url(images/lamp.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.card_title {
  margin-bottom: 16px;

  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #333333;
}
.description {
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #86878b;
}
.card2 {
  margin: 0 33px;
}
.card_image_keyboard {
  width: 70px;
  height: 70px;
  margin: 0px auto 27px;

  border: 2px solid #ff8b38;
  border-radius: 100px;
  background-image: url(images/keyboard.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.card_image_lightning {
  width: 70px;
  height: 70px;
  margin: 0px auto 27px;

  border: 2px solid #ff8b38;
  border-radius: 100px;
  background-image: url(images/lightning.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
/* основной раздел 1 */

.page {
  width: 100%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

.img {
  background-image: url(images/architecture-1850129_1920\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.img_box {
  background-image: url(images/Rectangle\ 10.png);
  background-repeat: no-repeat;
  background-position: center;
}

.headline {
  padding-top: 54px;
  font-style: normal;
  font-weight: normal;
}
.lead {
  font-size: 36px;
  line-height: 43px;
}
.line2 {
  width: 64px;
  height: 2px;
  margin: 22px 600px;
  background-color: #ffffff;
}
.text2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 38px;
}
.btn {
  width: 134px;
  height: 42px;
  margin-bottom: 54px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
}
button:hover {
  background: rgb(141, 141, 141);
}
.subtitle {
  width: 73px;
  height: 18px;
  margin: 0px 31px 0px 20px;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  text-align: center;
}
.footer {
  width: 100%;
  margin: 0px;
  background-color: #000000;
  padding-top: 48px;
  padding-bottom: 44px;
  color: #ffffff;
  float: left;
}

.logo {
  width: 32px;
  height: 32px;
  display: inline-block;
  list-style-type: none;
  margin-right: 34px;
}
.facebook {
  margin-left: 399px;
  border-radius: 50%;
  background-image: url(images/Facebook.svg);
  background-color: #3c5a9a;
  background-repeat: no-repeat;
  background-position: center;
}
.google {
  background-image: url(images/Google.svg);
  background-color: #dc4e41;
  background-repeat: no-repeat;
  background-position: center;
}
.img_plus {
  background-image: url(images/Plus.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.twitter {
  border-radius: 50%;
  background-image: url(images/bird.svg);
  background-color: #2daae1;
  background-repeat: no-repeat;
  background-position: center;
}
.instagram {
  border-radius: 20%;

  background-image: url(images/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.linkedin {
  border-radius: 50%;
  background-image: url(images/linkedin.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.pinterest {
  border-radius: 50%;
  background-color: #ce0000;
  background-image: url(images/pinterest.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.slogan {
  padding-top: 22px;
  margin-left: 568px;
}
